.main-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

app-sidebar {
    width: 18.75vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

app-page-container {
    flex-grow: 1;
    height: 100vh;
}
