<div class="menu">
    <div class="project-icons">
        <div class="project-card">
            <i class="pi pi-clipboard"></i>
            <h4>Projeto 1</h4>
            <p>Descrição breve do projeto.</p>
        </div>
        <div class="project-card">
            <i class="pi pi-clipboard"></i>
            <h4>Projeto 2</h4>
            <p>Outra descrição curta.</p>
        </div>
        <div class="project-card">
            <i class="pi pi-clipboard"></i>
            <h4>Projeto 3</h4>
            <p>Mais uma descrição.</p>
        </div>
    </div>
    <button id="add-new-project">
        <i class="pi pi-plus"></i> Add New Project
    </button>
</div>
