.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-icons {
    display: grid;
    /* Cria colunas com, no mínimo, 200px (ou ajuste conforme seu design) e, no máximo, 1fr.
       O auto-fit fará com que se houver menos itens, cada um ocupe uma coluna que expande proporcionalmente.
       Com max-width definido no container, serão, no máximo, 4 colunas (800px / 200px = 4). */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    width: 100%;
    max-width: 800px;
  }
  

@media (max-width: 768px) {
    .project-icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .project-icons {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card i {
    font-size: 24px;
    margin-bottom: 8px;
    color: #555;
}

.project-card h4 {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

.project-card p {
    font-size: 14px;
    color: #777;
}

#add-new-project {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    transition: all 0.2s ease-in-out;
}

#add-new-project:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}